APScheduler==3.10.4
beautifulsoup4==4.12.3
blinker==1.7.0
bs4==0.0.2
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
defusedxml==0.7.1
distlib==0.3.8
dnspython==2.7.0
filelock==3.13.1
Flask==3.0.0
Flask-Cors==4.0.0
Flask-PyMongo==2.3.0
google-api-core==2.16.1
google-auth==2.27.0
google-cloud-core==2.4.1
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
httpie==3.2.3
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.4
mdurl==0.1.2
multidict==6.0.5
mysql-connector-python==9.1.0
numpy==2.1.3
platformdirs==4.2.0
protobuf==4.25.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
Pygments==2.18.0
pymongo==4.10.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.2
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.8.0
rsa==4.9
six==1.16.0
soupsieve==2.6
tzlocal==5.2
urllib3==2.2.0
virtualenv==20.25.0
Werkzeug==3.0.1
